.fullsizebg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-24 {
	margin-bottom: 24px;
}

.block {
	display: block;
}
