.fullsizebg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
}

.fw-bold {
	font-weight: bold;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-15e {
	margin-bottom: 1.5em;
}

.mb-2e {
	margin-bottom: 2em;
} 

.mb-16 {
	margin-bottom: 16px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-24 {
	margin-bottom: 24px;
}

.block {
	display: block;
}
